.main-section {
    display: flex;
    align-items: justify;
    padding: 30px;
    gap: 60px;
  }
  
  .text-content {
    flex: 1;
  }
  
  .text-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .text-content p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    font-size: 20px;
  }
  
  .image-content img {
    width: 500px;
    border-radius: 9px;
  }
  